<div style="height: calc(100vh - 75px)" class="s-row s-jcontent-center">
  <div style="border-radius: 2px; background-color: white; margin: 10px; width:90%; height: 100%" class="mat-elevation-z6">
    <div class="mat-elevation-z6" style="height: 80px; padding-left:10px; padding-right: 10px; z-index: 10; position:relative; border-radius: 2px;  align-items: center; background-color: #D7D7D7">
      <div class="s-row" style="height: 100%; align-items: center; justify-content: center; align-content: center;">
        <div class="s-row" style="width: 90%; height: 90px; align-items: center; margin-left: 10px; margin-right: 10px;">
          <md-icon color="accent" class="materiarl-icons">search</md-icon>
          <story-filter-text style="width: 100%; margin-left: 5px;" (changed)="filterChanged($event)"></story-filter-text>
        </div>
        <div class="s-row" style="width:130px; align-items: center; justify-content: flex-end; margin-right: 10px;">
            <button md-icon-button color="accent" (click)="beforePage()" [disabled]="enableBeforePage()"><md-icon class="material-icons">navigate_before</md-icon></button>
            <div>{{currentPage}}/{{pageCount}}</div>
            <button md-icon-button color="accent" (click)="nextPage()" [disabled]="enableNextPage()"><md-icon class="material-icons">navigate_next</md-icon></button>
          </div>
        <button [routerLink]="['/main/clients/new']" md-fab><md-icon class="material-icons">person_add</md-icon></button>
      </div>
    </div>
    <div class="scroller-clients" style="background-color:#d7d7d7">
      <div style="margin-left:3px; margin-right: 3px;">
        <a *ngFor="let client of filteredClients" class="custom-row" href="" [routerLink]="['/main/clients/', client._id]">
          <div class="s-list-row client-row-component">
            <md-icon class="client-row-mdicon" md-list-icon>account_circle</md-icon>
            <div class="list-line-content">
              <div class="s-row client-row-information">
                <p class="client-row-first-title list-text">{{client.name}} {{client.companyName}}</p>
                <span class="toolbar-spacer"></span>
                <p class="client-row-second-title">
                  <i><span style="color: #ff4081">{{client.nro}}</span> / {{client.category}}</i>
                </p>
              </div>
              <p class="list-text client-row-text">Dir. {{client.address}} </p>
              <p class="list-text client-row-text">Telefonos: {{getPhones(client)}} Email: {{client.email}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- [ngClass]="{'category-residencial-category': isResidencialCategory(client.category)}" -->