<md-toolbar color="primary" class="s-toolbar mat-elevation-z6" style="background-color: #393856">
  <span style="color:orangered">S<span style="color:white">ONE</span></span>
  <span>
    <button md-icon-button [md-menu-trigger-for]="menu"><md-icon>more_vert</md-icon></button>
  </span>
</md-toolbar>
<div>
  <div class="s-row" style="height: 100vh;">
    <div color="primary" class="s-mini-sidenav">
      <ul>
        <li>
          <a href="" [routerLink]="['/main/dashboard']">Dashboard</a>
        </li>
        <li>
          <a href="" [routerLink]="['/main/clients']">Clients</a>
        </li>
      </ul>
    </div>
     <div style="width: 100%; height: 100%;">
       <router-outlet></router-outlet>      
     </div>
  </div>
 
  <div id="main" class="m-content">
    <md-menu x-position="before" #menu="mdMenu">
      <button md-menu-item>Option 1</button>
      <button md-menu-item>Option 2</button>
    </md-menu>
  </div>
</div>