<div class="s-row s-jcontent-center" style="flex-wrap:wrap">
  <md-card style="padding: 0; margin: 10px; width:40%; height: 300px;">
    <md-toolbar color="primary" class="mat-elevation-z6" style="font-size: 17px; background-color: #D7D7D7">
      <span style="color: #246da7">Facturas</span>
      <span class="toolbar-spacer"></span>
      <button md-icon-button><md-icon style="color: #246da7">more_vert</md-icon></button>
    </md-toolbar>
  </md-card>
  <md-card style="padding: 0; margin: 10px; width:40%; height: 300px;">
     <md-toolbar color="primary" class="mat-elevation-z6" style="font-size: 17px; background-color: #D7D7D7">
      <span style="color: #246da7">Controles</span>
      <span class="toolbar-spacer"></span>
      <button md-icon-button><md-icon style="color: #246da7">more_vert</md-icon></button>
    </md-toolbar>
  </md-card>
  <md-card style="padding: 0; margin: 10px; width:40%; height: 300px;">
    <md-toolbar color="primary" class="mat-elevation-z6" style="font-size: 17px; background-color: #D7D7D7">
      <span style="color: #246da7">Facturas</span>
      <span class="toolbar-spacer"></span>
      <button md-icon-button><md-icon style="color: #246da7">more_vert</md-icon></button>
    </md-toolbar>
  </md-card>
  <md-card style="padding: 0; margin: 10px; width:40%; height: 300px;">
     <md-toolbar color="primary" class="mat-elevation-z6" style="font-size: 17px; background-color: #D7D7D7">
      <span style="color: #246da7">Controles</span>
      <span class="toolbar-spacer"></span>
      <button md-icon-button><md-icon style="color: #246da7">more_vert</md-icon></button>
    </md-toolbar>
  </md-card>
</div>